<header class="header">
  <nav class="navbar" aria-label="Main menu">
    <div class="navbar-brand">
      <a class="nav-logo" href="{{siteRootPath}}"></a>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          {{#withMenuData}}
            {{#each @items}}
                <a class="navbar-item-section navbar-item navbar-topics" href="{{url}}">
                  <img alt="{{name}}" src="{{uiRootPath}}/_{{asset pre}}">
                  {{name}}
                </a>
            {{/each}}
          {{/withMenuData}}
        </div>
      </div>
      <div class="navbar-fill"></div>
      <div class="break-row"></div>
      <div class="navbar-search results-hidden">
        <input id="search" class="search" placeholder="Search" autocomplete="off">
        <img src="{{uiRootPath}}/img/cancel-1ed239489b.svg" alt="Clear" id="search-cancel">
        <div id="search_results"></div>
      </div>
      <div class="navbar-tools">
        <a rel="noopener noreferrer nofollow" href="https://github.com/apache/camel/" title="Collaborate on GitHub"><svg focusable="false" class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos-f2e689f4d4.svg#github" /></svg></a>
        <a rel="noopener noreferrer nofollow" href="https://camel.zulipchat.com" title="Chat on Zulip"><svg focusable="false" class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos-f2e689f4d4.svg#zulip" /></svg></a>
        <a rel="noopener noreferrer nofollow" href="https://twitter.com/ApacheCamel" title="Follow Apache Camel on Twitter"><svg focusable="false" class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos-f2e689f4d4.svg#twitter" /></svg></a>
        <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/groups/2447439/" title="Apache Camel group on Linkedin"><svg focusable="false" class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos-f2e689f4d4.svg#linkedin" /></svg></a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav" type="button" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
<a id="top"></a>
