    <footer>
        <div class="footer">
            <figure class="logo">
                <img src="{{siteRootPath}}/_/img/logo-d.svg" class="logo-small mt-60" alt="Apache Camel Logo" aria-label="white silhouette of a camel in front of a sand dune">
            </figure>
            <dl>
                <dt>Overview</dt>
                <dd><a href="{{siteRootPath}}/news/">News</a></dd>
                <dd><a href="{{siteRootPath}}/components/latest/">Components</a></dd>
                <dd><a href="{{siteRootPath}}/download/">Download</a></dd>
                <dd><a href="{{siteRootPath}}/docs/getting-started/">Getting started</a></dd>
                <dd><a href="{{siteRootPath}}/manual/latest/faq.html">FAQ</a></dd>
            </dl>
            <dl>
                <dt>Community</dt>
                <dd><a href="{{siteRootPath}}/community/support/">Support</a></dd>
                <dd><a href="https://github.com/apache/camel/blob/master/CONTRIBUTING.md">Contributing</a></dd>
                <dd><a href="{{siteRootPath}}/community/user-stories/">User stories</a></dd>
                <dd><a href="{{siteRootPath}}/community/articles/">Articles</a></dd>
                <dd><a href="{{siteRootPath}}/community/books/">Books</a></dd>
                <dd><a href="{{siteRootPath}}/community/team/">Team</a></dd>
                <dd><a href="{{siteRootPath}}/community/camel-extra/">Camel extra</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a href="{{siteRootPath}}/acknowledgments/">Acknowledgments</a></d>
                <dd><a target="_blank" href="https://www.apache.org/events/current-event.html" title="Apache Events">Apache Events</a></dd>
                <dd><a target="_blank" href="https://www.apache.org/licenses/" title="License">License</a></dd>
                <dd><a target="_blank" href="https://www.apache.org/security/" title="Security">Security</a></dd>
                <dd><a target="_blank" href="https://www.apache.org/foundation/sponsorship.html" title="Sponsorship">Sponsorship</a></dd>
                <dd><a target="_blank" href="https://www.apache.org/foundation/thanks.html" title="Thanks">Thanks</a></dd>
            </dl>
            <p>
                © 2004-2018 The <a href="https://apache.org">Apache Software Foundation</a>.<br>
                Apache Camel, Camel, Apache, the Apache feather logo, and the Apache Camel project logo are trademarks of
                The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of
                their respective owners.
            </p>
        </div>
    </footer>
