<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="nav-logo" href="{{siteRootPath}}"></a>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          {{#withMenuData}}
            {{#each @items}}
                {{#if children}}
                <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link navbar-topics" href="#">
                  <div>
                      <img class="navbar-icon" src="{{pre}}" /><br>
                      {{name}}
                  </div>
                </a>
                <div class="navbar-dropdown">
                {{#each children}}
                  <a class="navbar-item" href="{{url}}">
                    <div>
                      <img class="navbar-icon" src="{{pre}}" /><br>
                      {{name}}
                  </div>
                  </a>
                {{/each}}
                </div>
                </div>
                {{else}}
                <a class="navbar-item navbar-topics" href="{{url}}">{{name}}</a>
                {{/if}}
            {{/each}}
          {{/withMenuData}}
        </div>
      </div>
      <div class="navbar-fill"></div>
      <div class="break-row"></div>
      <div class="navbar-search results-hidden">
        <input id="search" class="search" placeholder="Search" autocomplete="off">
        <img src= "/_/img/cancel.svg" alt="Clear" id="search-cancel">
        <div id="search_results"></div>
      </div>
      <div id="social-media" class="navbar-tools">
        <a rel="noopener noreferrer nofollow" href="https://github.com/apache/camel/" title="Collaborate on GitHub"><svg class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos.svg#github" /></svg></a>
        <a rel="noopener noreferrer nofollow" href="https://gitter.im/apache/apache-camel" title="Chat on Gitter"><svg class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos.svg#gitter" /></svg></a>
        <a rel="noopener noreferrer nofollow" href="https://twitter.com/ApacheCamel" title="Follow Apache Camel on Twitter"><svg class="brand-icon"><use xlink:href="{{uiRootPath}}/img/brand-logos.svg#twitter" /></svg></a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
