<header class="header">
  <nav class="navbar shadow border-bottom">
    <div class="navbar-brand">
      <a class="navbar-item nav-logo" href="{{siteRootPath}}" title="{{site.title}}"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#withMenuData}}
          {{#each @items}}
              {{#if children}}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{name}}</a>
              {{else}}
              <a class="navbar-item" href="{{siteRootPath}}{{url}}">{{name}}</a>
              {{/if}}
              {{#if children}}
              <div class="navbar-dropdown">
              {{#each children}}
                <a class="navbar-item" href="{{siteRootPath}}{{url}}">{{name}}</a>
              {{/each}}
              </div>
              {{/if}}
              {{#if children}}
              </div>
              {{/if}}
          {{/each}}
        {{/withMenuData}}
      </div>
    </div>
  </nav>
</header>
